# Commit some of the data
#data/*
!data/README.md
build
build_satur
cmake-build-debug
.idea
.vscode
__pycache__
benchmarking/benchmarks
benchmarking/validation/validation
benchmarking/jpdc/ada
benchmarking/jpdc/ampere
benchmarking/jpdc/volta
benchmarking/jpdc/jpdc-results
visualization/ada
visualization/ampere
visualization/volta
