block_per_shift
fft
fft_gpulab
fft_small_gpulab
fft_speedup_compute_resolution
fft_speedup_compute_resolution_gpulab
fft_speedup_compute_resolution2
fft_speedup_compute_resolution2_gpulab
fft_speedup_compute_startup_resolution_gpulab
local_mem
matlab_speedup
matlab_startup_speedup
scipy_speedup
scipy_speedup_gpulab
warp_per_shift_optimizations_speedup
warp_per_shift_optimizations_speedup_gpulab
warp_per_shift_optimizations_speedup_gpulab2
warp_shuffle_optimizations_speedup
warp_shuffle_optimizations_speedup_gpulab